---
import Header from '../components/Header.astro';
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Hot Button Issue: Staying Cool as the World Heats Up",
    desc: [
      "Estimated projected indoor temperatures of Nashville homes",
      "Forecasted Nashville energy consumption over twenty years",
      "Designed a vulnerability score for areas across Tennesee",
    ],
    link: "https://drive.google.com/file/d/1q636x2Ny8e_kKFPpva8kyC2iS7qHMNmJ/view?usp=sharing",
    tech: ["MatPlotLabs", "LaTeX", "ARIMA", "Pairwise correlation", "Multivariate analysis"]
  },
  {
    title: "An Analysis of the Urban Heat Island Effect in Newark, New Jersey",
    desc: [
      "Researched and utilized datasets for estimations",
      "Utilized multivariate regression to forecast temperature changes",
      "Designed Seasonal ARIMA models to support conclusions"
    ],
    link: "https://drive.google.com/file/d/18dRUIoG1pJTJnsBmvdX97WlnXS2d4Anf/view?usp=sharing",
    tech: ["MatPlotLabs", "LaTeX", "ARIMA"]
  },
  {
    title: "Environmental Impact of AI Data Centers",
    desc: [
      "Identified reliable datasets to draw conclusions from",
      "Designed model to estimate carbon dioxide emissions",
      "Created actionable recommendations for governmental use",
    ],
    link: "https://drive.google.com/file/d/1kaoUJH4OdiShxNFL-ruN8oGuXuTJf3oN/view?usp=sharing",
    tech: ["Excel", "LaTeX", "MatPlotLabs"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Papers | Christopher Han" />
  <body>
    <div class="content">
        <Sidebar selectedItem="devops" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Written Works</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                        link={project.link}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
