---
import Header from '../components/Header.astro';
import Project from '../components/Project.astro';
import Sidebar from '../components/Sidebar.astro';
const projects = [
  {
    title: "Luke Whitier- World Champion",
    desc: [
      "Coached Luke to win the 2025 Junior World Championships",
      "Team creation, game feedback, strategy development"
    ],
    link : "https://www.youtube.com/watch?v=EhIZuYddfDc"
  },
  {
    title: "Joaquin Roquet- North America International Champion",
    desc: [
      "Developed unique strategy and gameplans",
      "Coached mental game and team development"
    ],
    link: "https://www.youtube.com/watch?v=m1TA-rZFanI"
  },
  {
    title: "Kevin Han- 2 x World Champion",
    desc: [
      "Mentee since 2022 (brother for much longer)",
      "First kid to win the world championships two years consecutively"
    ],
    link: "https://www.youtube.com/watch?v=m1TA-rZFanI"
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Coaching | Christopher Han" />
  <body>
    <div class="content">
        <Sidebar selectedItem="personal-projects" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Coaching</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Coaching
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                        link={project.link}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
