---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Chris Han VGC Coaching Tool",
    desc: [
      "Developed an original practice tool for my students",
      "Designed and implemented UI, backend, and database architecture",
      "Created unique puzzles to challenge my students",
      "Marketed in tandem with my coaching services"
    ],
    link: "https://chrishancoach.com/"
  },
  {
    title: "CloudMason",
    desc: [
      "Contributed to microservices architecture design for email distribution system",
      "Created a backend infrastructure with queues and an event bus",
      "Designed to handle a high volume ~3 million emails per day"
    ],
    link: "toADD"
  },
  {
    title: "Sarah (HealthEase.io)",
    desc: [
      "Contributed to Israel's largest telehealth platform for doctors and patients",
      "Developed appointment and billing systems",
      "Resolved live production bugs and server issues"
    ],
    link: "toADD"
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Website Development | Christopher Han" />
  <body>
    <div class="content">
        <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Software Development</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        link={project.link}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
