---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Chris Han Coaching Tool",
    desc: [
      "Developed an original practice tool for my students",
      "Designed and implemented UI, backend, and database architecture",
      "Created unique puzzles to challenge my students",
      "Marketed in tandem with my coaching services"
    ],
    link: "https://chrishancoach.com/",
    tech: ["Flask", "Jinja", "SQL", "Html", "CSS"]
  },
  {
    title: "Pokemon Scouting Tool",
    desc: [
      "Designed a software tool for easy data scouting of online tournaments",
      "Simplified user interface for public use",
      "Used profits from private coaching to host free resource"
    ],
    link: "https://www.pokemonvgcscouting.com/",
    tech: ["Html, css, javascript"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Software Development | Sam Bernstein" />
  <body>
    <div class="content">
        <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Software Development</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                        link={project.link}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
